.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: .95em
}

.logo {
  width: 1.5em;
  fill: #1a1a1a;
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 3px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: #1a1a1a;
  color: #FFF;
  font-size: .95em;
}